html
    head
        title Players
        link(rel='stylesheet', type='text/css', href='../style/style.css')
    body
        h1 Joueurs
        a(href='/games') Liste des parties
        a(href='/players/new') Ajouter un joueur
        table
            thead
                th ID
                th Nom
                th Email
                th Victoires
                th Défaites
                th Création
                th Actions
            tbody
                each player in players
                    tr
                        td #{player.id}
                        td #{player.name}
                        td #{player.email}
                        td #{player.gameWin}
                        td #{player.gameLost}
                        td #{player.createdAt.toLocaleDateString("fr-FR")}
                        td
                            a(href= 'players/' + player.id)
                                img(src='../edit_icon.png')
                            form(method= 'POST', action= 'players/' + player.id + '?_method=DELETE', style='display: inline')
                                input(type='image', src='../delete_icon.png')
