html
    head
        title Games
        link(rel='stylesheet', type='text/css', href='/style/style.css')
    body
        h1 Liste des games
        a(href='/players') Gérer les joueurs
        a(href='/games/new') Créer une nouvelle partie
        table
            thead
                tr
                    th ID
                    th Nom
                    th Mode
                    th Status
                    th Creation
                    th Actions
            tbody
                each game in games
                    tr
                        td #{game.id}
                        td #{game.name}
                        td #{game.mode}
                        td #{game.status}
                        td #{game.createdAt.toLocaleDateString("fr-FR")}
                        td
                            a(href= 'games/' + game.id)
                                img(src='../edit_icon.png')
                            form(method= 'POST', action= 'games/' + game.id + '?_method=DELETE', style='display: inline')
                                input(type='image', src='../delete_icon.png')