html
    head
        title Games
        link(rel='stylesheet', type='text/css', href='../style/style.css')
    body
        h1 Partie #{game.id}
        a(href='/games') Retour
        h2 La partie
        if game.status == 'draft' && players.length >= 2
            form(method= 'POST', action= '?_method=PATCH')
                input(name= 'status', type= 'hidden', value='started')
                button Lancer la partie
        table
            thead
                tr
                    th ID
                    th Nom
                    th Mode
                    th Status
                    th Creation
            tbody
                tr
                    td #{game.id}
                    td #{game.name}
                    td #{game.mode}
                    td #{game.status}
                    td #{game.createdAt.toLocaleDateString("fr-FR")}

        h2 Les joueurs
        if game.status == 'draft'
            a(href='/games/' + game.id + '/players') Gérer les joueurs
        table
            thead
                th ID
                th Nom
                th Email
                th Victoires
                th Défaites
                th Création
            tbody
                each player in players
                    tr
                        td #{player.id}
                        td #{player.name}
                        td #{player.email}
                        td #{player.gameWin}
                        td #{player.gameLost}
                        td #{player.createdAt.toLocaleDateString("fr-FR")}


        if current.player && current.gamePlayer
            h2 Tour de #{current.player.name}
            h3 Joueur
            table
                thead
                    th ID
                    th Nom
                    th Tirs restants
                    th score
                tbody
                    tr
                        td #{current.player.id}
                        td #{current.player.name}
                        td #{current.gamePlayer.remainingShots}
                        td #{current.gamePlayer.score}
        else
            h2 Pas de joueur courant...

        if current.player && current.gamePlayer
            h3 Tir
            form(method= 'POST', action= '/games/' + game.id + '/shots')
                table
                    thead
                        th Secteur
                        th Multiplicateur
                    tbody
                        tr
                            td
                                input(type= 'number', name= 'sector')
                            td
                                input(type= 'number', name= 'multiplicator')

                button Valider
                button Tir manqué

        if game.status !== 'draft'
            h2 Historique
            table
                thead
                    th ID
                    th Joueur
                    th Multiplicateur
                    th Secteur
                    th Création
                tbody
                    each shot in shots
                        tr
                            td #{shot.id}
                            td #{shot.playerId}
                            td #{shot.multiplicator}
                            td #{shot.sector}
                            td #{shot.createdAt.toLocaleDateString("fr-FR") }
            button Annuler le dernier tir
