html
    head
        title Games
        link(rel='stylesheet', type='text/css', href='../style/style.css')
    body
        h1 Partie #{game.id}
        a(href='/games') Retour
        h2 La partie
        table
            thead
                tr
                    th ID
                    th Nom
                    th Mode
                    th Status
                    th Creation
            tbody
                tr
                    td #{game.id}
                    td #{game.name}
                    td #{game.mode}
                    td #{game.status}
                    td #{game.createdAt.toLocaleDateString("fr-FR")}

        h2 Les joueurs
        if game.status == 'draft'
            a(href='/games/' + game.id + '/players') Gérer les joueurs
        table
            thead
                th ID
                th Nom
                th Email
                th Victoires
                th Défaites
                th Création
            tbody
                each player in players
                    tr
                        td #{player.id}
                        td #{player.name}
                        td #{player.email}
                        td #{player.gameWin}
                        td #{player.gameLost}
                        td #{player.createdAt.toLocaleDateString("fr-FR")}

        if currentPlayer
            h2 Tour de #{currentPlayer.name}
            table
                thead
                    th ID
                    th Nom
                    th Email
                    th Victoires
                    th Défaites
                    th Création
                tbody
                    tr
                    td #{currentPlayer.id}
                    td #{currentPlayer.name}
                    td #{currentPlayer.email}
                    td #{currentPlayer.gameWin}
                    td #{currentPlayer.gameLost}
                    td #{currentPlayer.createdAt.toLocaleDateString("fr-FR")}
        else
            h2 Pas de joueur courant...

        p Coups restants :
        p Shot
        button Tir manqué
        h2 Historique
        table
        button Annuler le dernier tir
